{% load static %}
<!-- <script src="{% static 'base.js'  %}"></script> -->
    {% for post in latest_post_list %}
    <div class="card my-2 mx-2 grid-item index-card">
      <div class="card-body card-body-ajax" id="{{ post.id }}">
        <div class="index-top-container">
          <img class="index-card-top index-card-profile" src="{% static "assets/secret-icon-1.png" %}"/>
          <h6 class="index-card-title index-card-top">{{ post.title }}</h6>
          <p class="index-card-top index-card-date">{{ post.date }}</p>
        </div>
        <div class="card-text index-card-text">
        {% if post.image %}
        <img class="index-card-image" src="{{ post.image.url }}" />
        {% endif %}
        {{ post.content|linebreaks }}
      </div>
      </div>
      <ul class="list-group list-group-flush">
        {% for comment_snippet in post.comment_snaps %}
        <li class="list-group-item index-card-comment">{{comment_snippet}}</li>
        {% endfor %}
      </ul>
      <div class="card-body card-bot row">
        {% if post.clicked %}
        <p class="card-button-bot clickup-button-ajax clickup-clicked col" id='{{ post.id }}'>
          Upvote {{post.clicks}}</p>
        {% else %}
        <p class="card-button-bot clickup-button-ajax clickup-unclicked col" id='{{ post.id }}'>
          Upvote {{post.clicks}}
        </p>
        {% endif %}
        <p class="card-button-bot comment-ajax comment-button col" id='{{ post.id }}'>Comment</p>
        <p class="card-button-bot tag-ajax tag-button col">Tag {{post.tags}}</p>
      </div>
    </div>
    {% endfor %}
