{% extends "forum/index.html" %}

{% block content %}

{% load widget_tweaks %}

<div class="block-container d-flex justify-content-center">
  <div class="card my-2 mx-2 content-card" style="width: 50%;">
    <div class="card-body">


      {% if user.is_superuser %}
      <h5 class="card-title">Edit Post</h5>
      <p><a href="{% url 'forum:delete' post_id %}">Delete</a></p>
      {% else %}
      <h5 class="card-title">New Post</h5>
      {% endif %}

      <div class="card-body">
        <form action="{{ action }}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="contentTextArea">Content</label>
            {% render_field form.content class="form-control" id="contentTextArea" %}
            {% if user.is_authenticated %}
            {% render_field form.display_name class="form-check-input" id="displayNameChoice" style="width: auto"%}
            <label class="form-check-label" for="displayNameChoice">Use username?</label>
            {% endif %}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--



-->
