{% extends 'base.html' %}
{% block content %}

<div id="content-overlay"></div>
<div class="container-fluid">

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>

    {% for post in latest_post_list %}
    <div class="card my-2 mx-2 grid-item index-card">
      <div class="card-body" id="{{ post.id }}">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text" style="max-height: 300px; overflow: scroll;">{{ post.content }}</p>
      </div>
      <ul class="list-group list-group-flush">
        {% for comment_snippet in post.comment_snaps %}
        <li class="list-group-item">{{comment_snippet}}</li>
        {% endfor %}
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Click</a>
        <a href="#" class="card-link">Comment</a>
        <a href="#" class="card-link">Tag</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
