{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Secret</title>
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "base.css" %}">
  <script src="{% static "masonry.pkgd.min.js" %}"></script>
  <script src="{% static "jquery-3.1.0.min.js"%}"></script>
  <script src="{% static "base.js" %}"></script>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'forum:index' %}">Secrets</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link disabled" href="#">Top</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Controversial</a>
          </li>

        </ul>
        <div class="user-auth-container">
          <a href="{% url 'forum:new'%}">New Post</a>
          {% if user.is_authenticated %}
          {{ user.username }}
          <a href="{% url 'forum:logout'%}">Log out</a>
          {% else %}
          <a href="{% url 'forum:login'%}">Login</a>
          <a href="{% url 'forum:sign_up'%}">Sign up</a>
          {% endif %}
        </div>
      </div>
    </nav>


    <div id="content-overlay">
      <!-- {% block content %}{% endblock %} -->
    </div>

    <div class="container-fluid" style="width: 72%">

      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>

        {% for post in latest_post_list %}
        <div class="card my-2 mx-2 grid-item" style="width: 30%;">
          <!-- <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap"> -->
          <div class="card-body" id="{{ post.id }}">
            <h5 class="card-title">{{ post.title }}</h5>
            <!-- <a href="{% url 'forum:content' post.id %}"> </a> -->
            <p class="card-text" style="max-height: 300px; overflow: scroll;">{{ post.content }}</p>
          </div>
          <ul class="list-group list-group-flush">
            {% for comment_snippet in post.comment_snaps %}
            <li class="list-group-item">{{comment_snippet}}</li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Click</a>
            <a href="#" class="card-link">Comment</a>
            <a href="#" class="card-link">Tag</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
</body>

</html>
