{% load static %}
<div class="block-container d-flex justify-content-center">
  <div class="card content-card">
    <div class="card-body">
      <img src="{% static "assets/hello_there.jpg" %}" style="width:100%;"/>
      <p>

        Welcome to UoCSecret!
      </p>
      <p>
        uocsecret.com is a anonymous social website risen from the ashes of our beloved Facebook page UChicago Secrets, but with more fun stuff and less censorship crap.
      </p>
      <p>
        This website is created and run entirely by UChicago college students (one so far). Currently it is only known to a small number of people, most of whom trusted fellow students. It is my hope that this website will reach further into the student body and enrich our barren life of the mind.
      </p>
      <p>
        Should you have any suggestion or bug report, feel free to <a href="mailto:uocsecret@gmail.com">shoot me an email</a> or just dm me on WeChat. Any technical feedback, especially regarding UI/UX, is welcomed.
      </p>
      <p>
        This website is hand-crafted using the Django framework, some jQuery libraries and an unholy amount of Teamo jasmine milktea. If you are intested in joining me to make uocsecret great again, email/dm me for access to the git repo.
      </p>
      <p>
        Finally, remember to be kind to each other and have fun!
      </p>
      <div style="text-align: right;">
        <p>
          admin
        </p>
        <p>
          Sep 25, 2018
        </p>
      </div>

      <div>
        <p>
          Known bug(s):
        </p>
        <ol>
          <li>
            Posts sometimes overlap after first load (Solution: try reload or scroll to the bottom then scroll up)
          </li>
          <li>
            Sometimes (1/20) image upload fails (Currently working out solution)
          </li>
        </ol>
      </div>


    </div>
  </div>
</div>
