{% extends 'base.html' %}
{% block content %}


<div id="content-overlay"></div>
<div class="container-fluid">

  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 1 }'>

    {% for post in latest_post_list %}
    <div class="card my-2 mx-2 grid-item index-card">
      <div class="card-body card-body-ajax" id="{{ post.id }}">
        <h5 class="card-title index-card-title">{{ post.title }}</h5>
        <p class="card-text index-card-text">{{ post.content }}</p>
      </div>
      <ul class="list-group list-group-flush">
        {% for comment_snippet in post.comment_snaps %}
        <li class="list-group-item index-card-comment">{{comment_snippet}}</li>
        {% endfor %}
      </ul>
      <div class="card-body">
        {% if post.clicked %}
        <a class="card-link clickup-button-ajax clickup-clicked" id='{{ post.id }}' style="color:red">
          Click {{post.clicks}}</a>
        {% else %}
        <a class="card-link clickup-button-ajax clickup-unclicked" id='{{ post.id }}' style="color:#007bff">
          Click {{post.clicks}}
        </a>
        {% endif %}
        <a class="card-link comment-ajax comment-button">Comment</a>
        <a class="card-link tag-ajax tag-button">Tag {{post.tags}}</a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
