.block-container {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

#todo: longboi does not behave correctly

.content-card {
  height: auto;
  overflow: scroll;
  top: 10%;
}

.card-button-right {
  float: right;
}
